[maxscale]
threads=auto
admin_host=0.0.0.0
admin_secure_gui=false
admin_auth=false

[mariadb1]
type=server
address=mariadb1
port=3306
protocol=MariaDBBackend

[mariadb2]
type=server
address=mariadb2
port=3306
protocol=MariaDBBackend

[mariadb3]
type=server
address=mariadb3
port=3306
protocol=MariaDBBackend

[Splitter-Service]
type=service
router=readwritesplit
servers=mariadb1,mariadb2,mariadb3
user=max_user
password=max_password
master_reconnection=true
master_failure_mode=fail_on_write
transaction_replay=true
transaction_replay_retry_on_deadlock=true
transaction_replay_retry_on_mismatch=true
causal_reads=fast_universal

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=MariaDBClient
port=4000

[Monitor]
type=monitor
module=mariadbmon
servers=mariadb1,mariadb2,mariadb3
user=max_user
password=max_password
auto_failover=true
auto_rejoin=true
failcount=1
backend_connect_timeout=1000ms
backend_read_timeout=1000ms
backend_write_timeout=1000ms
master_failure_timeout=1000ms
monitor_interval=1000ms
cooperative_monitoring_locks=majority_of_all
