[maxscale]
threads=auto

[mariadb1]
type=server
address=mariadb1
port=3306
protocol=MariaDBBackend

[mariadb2]
type=server
address=mariadb2
port=3306
protocol=MariaDBBackend

[mariadb3]
type=server
address=mariadb3
port=3306
protocol=MariaDBBackend

[Splitter-Service]
type=service
router=readwritesplit
servers=mariadb1,mariadb2,mariadb3
user=max_user
password=max_password

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=MariaDBClient
port=4006

[Monitor]
type=monitor
module=mariadbmon
servers=mariadb1,mariadb2,mariadb3
user=max_user
password=max_password
monitor_interval=2000ms
auto_failover=true
cooperative_monitoring_locks=majority_of_all
